<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="todo-card">
    <ion-card-header>
      <!-- <ion-card-title>Josh Ruff</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
    <ion-avatar class="avatar">
      <img src="../../assets/profilePic.jpeg">
    </ion-avatar>
    <h1>Josh Ruff</h1>
    <h2>Software Developer</h2>
    <h3>Kansas City, Missouri</h3>
    <p>Ever-learning Software Developer with experience in website, and app development. Has a background in social media marketing and customer service. Enjoys building business and has experience in opening new franchise locations. Gifted in learning-quickly and training others while having a genuine love for people, culture, and building relationships.</p>
  </ion-card-content>
</ion-card>
